<footer class="footer">
  <div class="container footer-content">
    
    <div class="footer-info">
      <h3>Mini <span>Home</span> Hotel</h3>
      <p><i class="bi bi-geo-alt"></i> <a href="https://maps.app.goo.gl/oDL85NdUH1HdnWdk9" target="_blank" class="phone-link">{{ labels['address'][currentLang()] }}</a></p>
      <p><i class="bi bi-telephone"></i> <a href="tel:+380970010332" class="phone-link">+380 (97) 001 03 32</a></p>
      
    </div>
    
    <div class="footer-nav">
      <h4>{{ labels['nav'][currentLang()] }}</h4>
      <ul>
        <li><a routerLink="/">{{ labels['home'][currentLang()] }}</a></li>
        <li><a routerLink="/rooms">{{ labels['rooms'][currentLang()] }}</a></li>
        <li><a routerLink="/gallery">{{ labels['gallery'][currentLang()] }}</a></li>
        <li><a routerLink="/contact">{{ labels['contact'][currentLang()] }}</a></li>
      </ul>
    </div>

    <div id="footer-map" class="footer-map">
      <!-- Reliable Search-based Google Maps Embed -->
      <iframe 
        width="100%" 
        height="300" 
        style="border:0;" 
        allowfullscreen="" 
        loading="lazy" 
        src="https://maps.google.com/maps?q=Mini%20Home%20Hotel,%20Kamianets-Podilskyi&t=&z=16&ie=UTF8&iwloc=B&output=embed">
      </iframe>
    </div>

  </div>

  <div class="footer-bottom">
    <p>&copy; 2026 Mini Home Hotel. {{ labels['rights'][currentLang()] }}</p>
    <p class="designer">Designed by Victor</p>
  </div>
</footer>
